<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}
 <body>
{{ block "header" . }}{{ partial "header.html" . }}{{ end }}
  <main>
{{ block "main" . }}{{ end }}
  </main>
{{ partial "footer.html" . }}
 </body>
</html>
