  <hr>
  <footer>
   <p>
    <small>
     This site uses <a href="https://www.gnu.org/philosophy/javascript-trap.html">free javascript</a>
     (<a href="/weblabels" data-jslicense="1">license information</a>),
     is <a href="https://validator.w3.org/check?uri=referer">valid HTML5</a>, and
     is released under the <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL version 3</a> or later.
    </small>
   </p>
  </footer>
