 <head>
  <meta charset="UTF-8" />
<!-- Site Title, Description, Author, and Favicon -->
{{- with printf "%s - %s" .Site.Title .Title }}
  <title>{{ . }}</title>
  <meta property="og:title" content="{{ . }}" />
  <meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}
{{- with .Site.Params.subtitle }}
  <meta name="description" content="{{ . }}" />
  <meta property="og:description" content="{{ . }}" />
  <meta name="twitter:description" content="{{ . | truncate 200 }}" />
{{- end }}
  <meta name="author" content="{{ .Site.Author.name }}" />
{{- with .Site.Params.logo }}
  <link rel="icon" type="image/x-icon" href="{{ . | absURL }}.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ . | absURL }}-32.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="{{ . | absURL }}-64.png" />
  <link rel="icon" type="image/png" sizes="128x128" href="{{ . | absURL }}-128.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="{{ . | absURL }}-192.png" />
{{- end -}}
<!-- Social Media Tags -->
{{- with .Site.Params.logo }}
  <meta property="og:image" content="{{ . | absURL }}-192.png" />
  <meta name="twitter:image" content="{{ . | absURL }}-192.png" />
{{- end }}
{{- with .Site.Author.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
{{- end }}
  <meta property="og:url" content="{{ .Permalink | absLangURL }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
<!-- Hugo Version number -->
  {{ hugo.Generator -}}
<!-- Links and stylesheets -->
  <link rel="canonical" href="{{ .Permalink | absLangURL }}" />
  <link rel="stylesheet" href="{{ .Site.Params.Style | absURL }}" />
  <script src="{{ absURL "external/jquery-3.4.1.min.js" }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ absURL "external/datatables.min.css" }}" />
  <script src="{{ absURL "external/datatables.min.js" }}"></script>
 </head>
