  <header>
   <nav>
    <ul>{{ range where .Site.Pages "Layout" "table" }}
     <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>     {{ end }}
     <li style="float: right;"><a href="/about">About</a></li>
     <li style="float: right;"><a href="{{ printf "https://gitlab.com/%s/%s" .Site.Author.gitlab .Site.Title }}">Source</a></li>
    </ul>
   </nav>
   <img src="{{ printf "%s-128.png" .Site.Params.Logo | absURL  }}" style="float: left; margin: 5px;" alt="Logo">
   <h1>{{ .Site.Title }} - Single Board Computers Comparison</h1>
   <h3>Collecting board specifications in an interactive, consistent, easy to read format</h3>
  </header>
  <hr>
