body     { font-family: sans-serif; }

td.true  { background-color: #bbeebf; }

td.false { background-color: #f9d1eb; }

th.section {
  text-align:       left;
  font-size:        1.2em;
  border-right:     1px solid #AAAAAA;
}

th.section:last-child { border-right: none; }

hr {
  border:           0;
  height:           1px;
  background-image: linear-gradient(to right, #FFFFFF, #888888, #FFFFFF);
  margin-top:       20px;
  margin-bottom:    20px;
}

/* Navigation bar */
nav ul {
  list-style-type:  none;
  margin:           0;
  padding:          0;
  top:              0;
  width:            100%;
  overflow:         hidden;
  background-color: #DDDDDD;
}

nav li {
  float:            left;
  border-right:     1px solid #EEEEEE;
}

nav li:last-child { border-right: none; }

nav li a:hover { background-color: #CCCCCC; }

nav li a {
  display:          block;
  color:            black;
  text-align:       center;
  padding:          12px 16px;
  text-decoration:  none;
}
