
   <table class="cell-border dataframe hover order-column row-border stripe" id="main-table">
    <thead>
     <tr>
      <th class="section" colspan="7">General</th>
      <th class="section" colspan="9">Specifications</th>
      <th class="section" colspan="2">Freedom</th>
      <th class="section" colspan="10">Inputs and Outputs</th>
      <th class="section" colspan="2">Links - SBC</th>
      <th class="section" colspan="8">System on Chip</th>
      <th class="section">Microarchitecture</th>
      <th class="section" colspan="2">Links - SoC</th>
      <th class="section" colspan="7">Microarchitecture</th>
     </tr>
     <tr>
      <th>Manufacturer</th>
      <th>Series</th>
      <th>Variant</th>
      <th>Released</th>
      <th>Weight (g)</th>
      <th>Form Factor</th>
      <th>Compatible Pinout</th>
      <th>Memory (MiB)</th>
      <th>Memory Type</th>
      <th>On-board Storage (MiB)</th>
      <th>On-board Storage Type</th>
      <th>Removeable Storage</th>
      <th>Ethernet speed (Mbps)</th>
      <th>Wifi Version</th>
      <th>Bluetooth Version</th>
      <th>HDMI Version</th>
      <th>Blobless boot?</th>
      <th>Open Hardware?</th>
      <th>Ethernet</th>
      <th>Audio Out</th>
      <th>Audio In</th>
      <th>USB2</th>
      <th>USB3</th>
      <th>PCIe</th>
      <th>SATA</th>
      <th>HDMI</th>
      <th>CSI</th>
      <th>DSI</th>
      <th>Official Website</th>
      <th>Wikipedia Article</th>
      <th>SoC</th>
      <th>Manufacturer</th>
      <th>Process (nm)</th>
      <th>Cores</th>
      <th>CPU Frequency (GHz)</th>
      <th>GPU Series</th>
      <th>GPU Version</th>
      <th>GPU Frequency (MHz)</th>
      <th>uArch</th>
      <th>Official Website</th>
      <th>Wikipedia Article</th>
      <th>Series</th>
      <th>ISA</th>
      <th>ISA Version</th>
      <th>Bits</th>
      <th>Pipeline Depth</th>
      <th>Out Of Order?</th>
      <th>Released</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>1A</td>
      <td>2013-02-01</td>
      <td>31.0</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi Old</td>
      <td>256</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>SD</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="false">0</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>N/A</td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>1A+</td>
      <td>2014-11-01</td>
      <td>23.0</td>
      <td>Raspberry Pi Compact</td>
      <td>Raspberry Pi</td>
      <td>512</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="false">0</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-1-model-a-plus/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>3A+</td>
      <td>2018-11-01</td>
      <td>N/A</td>
      <td>Raspberry Pi Compact</td>
      <td>Raspberry Pi</td>
      <td>512</td>
      <td>LPDDR2</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>N/A</td>
      <td>b/g/n/ac</td>
      <td>4.2</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="false">0</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-a-plus/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2837</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.2</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>300</td>
      <td>Cortex-A53</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2014.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>1B</td>
      <td>2012-04-01</td>
      <td>45.0</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi Old</td>
      <td>512</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>SD</td>
      <td>10/100</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="true">1</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">2</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>N/A</td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>1B+</td>
      <td>2014-07-01</td>
      <td>45.0</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi</td>
      <td>512</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>10/100</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="true">1</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">4</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-1-model-b-plus/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>2B</td>
      <td>2015-02-01</td>
      <td>45.0</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi</td>
      <td>1024</td>
      <td>LPDDR2</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>10/100</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="true">1</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">4</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2836</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>0.9</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>Cortex-A7</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2836/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2011.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>3B</td>
      <td>2016-02-01</td>
      <td>45.0</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi</td>
      <td>1024</td>
      <td>LPDDR2</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>10/100</td>
      <td>b/g/n</td>
      <td>4.1</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="true">1</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">4</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2837</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.2</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>300</td>
      <td>Cortex-A53</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2014.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>3B+</td>
      <td>2018-03-01</td>
      <td>45.0</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi</td>
      <td>1024</td>
      <td>LPDDR2</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>10/100/1000</td>
      <td>b/g/n/ac</td>
      <td>4.2</td>
      <td>1.3</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="true">1</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">4</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b-plus/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2837</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.2</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>300</td>
      <td>Cortex-A53</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2014.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>4B</td>
      <td>2019-06-01</td>
      <td>N/A</td>
      <td>Raspberry Pi Standard</td>
      <td>Raspberry Pi</td>
      <td>1024-4096</td>
      <td>LPDDR4</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>10/100/1000</td>
      <td>b/g/n/ac</td>
      <td>5.0</td>
      <td>2</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="true">1</td>
      <td class="true">1</td>
      <td class="false">0</td>
      <td class="true">2</td>
      <td class="true">2</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>2</td>
      <td>1</td>
      <td class="true">1</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-4-model-b/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2711</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.5</td>
      <td>VideoCore</td>
      <td>6</td>
      <td>500</td>
      <td>Cortex-A72</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2711/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>15</td>
      <td class="true">True</td>
      <td>2015.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>Zero</td>
      <td>2015-11-01</td>
      <td>N/A</td>
      <td>Raspberry Pi Zero</td>
      <td>Raspberry Pi</td>
      <td>512</td>
      <td>LPDDR2</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>Mini</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="false">0</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-zero/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
     <tr>
      <td>Raspberry Pi Foundation</td>
      <td>Raspberry Pi</td>
      <td>Zero W</td>
      <td>2017-02-01</td>
      <td>N/A</td>
      <td>Raspberry Pi Zero</td>
      <td>Raspberry Pi</td>
      <td>512</td>
      <td>LPDDR2</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>MicroSDHC</td>
      <td>N/A</td>
      <td>b/g/n</td>
      <td>4.1</td>
      <td>Mini</td>
      <td class="false">False</td>
      <td class="true">True</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td class="false">0</td>
      <td>1</td>
      <td>1</td>
      <td class="false">0</td>
      <td>
       <a href="https://www.raspberrypi.org/products/raspberry-pi-zero-w/" target="_blank">Link</a>
      </td>
      <td>
       <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Link</a>
      </td>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
    </tbody>
   </table>