
   <table class="cell-border dataframe hover order-column row-border stripe" id="main-table">
    <thead>
     <tr>
      <th class="section" colspan="8">System on Chip</th>
      <th class="section">Microarchitecture</th>
      <th class="section" colspan="2">Links</th>
     </tr>
     <tr>
      <th>SoC</th>
      <th>Manufacturer</th>
      <th>Process (nm)</th>
      <th>Cores</th>
      <th>CPU Frequency (GHz)</th>
      <th>GPU Series</th>
      <th>GPU Version</th>
      <th>GPU Frequency (MHz)</th>
      <th>uArch</th>
      <th>Official Website</th>
      <th>Wikipedia Article</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>BCM2835</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>1</td>
      <td>0.7</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>ARM1176</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2835/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>BCM2836</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>0.9</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>250</td>
      <td>Cortex-A7</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2836/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>BCM2837</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.2</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>300</td>
      <td>Cortex-A53</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>BCM2837B0</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.4</td>
      <td>VideoCore</td>
      <td>4</td>
      <td>400</td>
      <td>Cortex-A53</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2837b0/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>BCM2711</td>
      <td>Broadcom</td>
      <td>N/A</td>
      <td>4</td>
      <td>1.5</td>
      <td>VideoCore</td>
      <td>6</td>
      <td>500</td>
      <td>Cortex-A72</td>
      <td>
       <a href="https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2711/README.md" target="_blank">Link</a>
      </td>
      <td>N/A</td>
     </tr>
    </tbody>
   </table>