
   <table class="cell-border dataframe hover order-column row-border stripe" id="main-table">
    <thead>
     <tr>
      <th class="section" colspan="8">Microarchitecture</th>
     </tr>
     <tr>
      <th>uArch</th>
      <th>Series</th>
      <th>ISA</th>
      <th>ISA Version</th>
      <th>Bits</th>
      <th>Pipeline Depth</th>
      <th>Out Of Order?</th>
      <th>Released</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>ARM1136</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2002.0</td>
     </tr>
     <tr>
      <td>ARM1156</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>9</td>
      <td class="true">True</td>
      <td>2002.0</td>
     </tr>
     <tr>
      <td>ARM1176</td>
      <td>ARM11</td>
      <td>ARM</td>
      <td>6.0</td>
      <td>32</td>
      <td>8</td>
      <td class="true">True</td>
      <td>2003.0</td>
     </tr>
     <tr>
      <td>Cortex-A5</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2009.0</td>
     </tr>
     <tr>
      <td>Cortex-A7</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2011.0</td>
     </tr>
     <tr>
      <td>Cortex-A8</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>13</td>
      <td class="false">False</td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>Cortex-A9</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>8-11</td>
      <td class="true">True</td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>Cortex-A12</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>11</td>
      <td class="true">True</td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>Cortex-A15</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>17-25</td>
      <td class="true">True</td>
      <td>2011.0</td>
     </tr>
     <tr>
      <td>Cortex-A17</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>7.0</td>
      <td>32</td>
      <td>11</td>
      <td class="true">True</td>
      <td>N/A</td>
     </tr>
     <tr>
      <td>Cortex-A32</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>32</td>
      <td>N/A</td>
      <td class="false">False</td>
      <td>2017.0</td>
     </tr>
     <tr>
      <td>Cortex-A35</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2017.0</td>
     </tr>
     <tr>
      <td>Cortex-A53</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2014.0</td>
     </tr>
     <tr>
      <td>Cortex-A55</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.2</td>
      <td>64</td>
      <td>8</td>
      <td class="false">False</td>
      <td>2017.0</td>
     </tr>
     <tr>
      <td>Cortex-A57</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>15</td>
      <td class="true">True</td>
      <td>2013.0</td>
     </tr>
     <tr>
      <td>Cortex-A72</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>15</td>
      <td class="true">True</td>
      <td>2015.0</td>
     </tr>
     <tr>
      <td>Cortex-A73</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>11-12</td>
      <td class="true">True</td>
      <td>2016.0</td>
     </tr>
     <tr>
      <td>Cortex-A75</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.0</td>
      <td>64</td>
      <td>11-13</td>
      <td class="true">True</td>
      <td>2017.0</td>
     </tr>
     <tr>
      <td>Cortex-A76</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.2</td>
      <td>64</td>
      <td>11-13</td>
      <td class="true">True</td>
      <td>2018.0</td>
     </tr>
     <tr>
      <td>Cortex-A77</td>
      <td>Cortex-A</td>
      <td>ARM</td>
      <td>8.2</td>
      <td>64</td>
      <td>11-13</td>
      <td class="true">True</td>
      <td>2019.0</td>
     </tr>
    </tbody>
   </table>